.profileDummy{
    width: 50px;
}
body{
    background-color: #fbfbfb;
}



.community{
    background-color: #fcfcfc;
    text-align: center;
    text-transform: none;
    font-weight: bold;
    padding: 16px;
    color: #414141;

}
.loremComBody{
    font-size: 1.3rem;
}

.profileDummyNext{
    border: none;
    width: 250px;

}
