.btnHonda{
    background-color: #414141;
    color: #fafafa;
    border: none;
}
.btnHonda:hover{
    background-color: goldenrod;
    color: black;
}
.navHonda{
    color: #414141;
    font-size: 1.1rem;
    
    
}
.card{
    border: none;
}

.navHonda:hover{
    color: goldenrod;
}

.btnStyle{
    border: none;
    color: white;
    background-color: #414141;
    border-radius: 6px;
    transition: all 0.3s;
}
.btnStyle:hover{
    color: black;
    background-color: goldenrod;
    
}
