.imgLogo{ 
    width: 80px;
}

.encabezado{
    border-bottom: 5px solid gray;
    border-top: 10px solid goldenrod;
    border-radius: 8px;
}
.mainNav{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border: none;
    border-radius: 9px;
    margin-right: none;
    padding: 7px;

}